@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



body {
    background-image: url(./background.jpg);
    background-size: cover;
    background-color: black;
    color: white;
    
}

.player-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(191, 191, 191);
    border: none;
    cursor: pointer;
}

.selected {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.contains-all-content-single-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Arvo', serif;
    text-align: center;
    margin: 0;
    padding-bottom: 2vh;
}

.scores-img-and-btn-wrap {
    min-width: 25%;
}


.scores-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik Dirt', cursive;
}

.score {
    font-size: 2.5vw;
}

.dice-image-wrap {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msgs-wrap {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
}

.win-lose-msg {
    font-size: x-large;
}

.buttons-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roll-new-btns {
    font-family: 'Lilita One', cursive;
    padding: 2%;
    margin: 5%;
    cursor: pointer;
    border-radius: 10%;
    border: none;
    background-color: rgb(209, 18, 18);
    color: white;
}

.roll-new-btns:hover {
    border: none;
    background-color: black;
    color: white;
}

#rollBtn {
    font-size: 4vw;
}

#newGameBtn {
    font-size: 1.5vw;
}
/* multi player */


.contains-all-content-two-player {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin-left: 25%;
}

.display-flex {
    display: flex;
}

.players-text-wrap {
    justify-content: space-around;
   
}

.p1s-turn {
    background: linear-gradient(
        to right,
        rgb(90, 90, 90) 0%,
        rgb(90, 90, 90) 50%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
    );
}

.p2s-turn { background: linear-gradient(
    to left,
    rgb(90, 90, 90) 0%,
    rgb(90, 90, 90) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
);}


.players-text {
    font-size: 2vw;
    font-family: 'Arvo', serif;
    margin: 0;
}

.wins-losses-wrap {
    display: flex;
    justify-content: space-around;
   
}

.wins-losses-individual-wrap {
    justify-content: space-evenly;
    width: 15vw;
}

.wins-losses-text {
    margin: 10% 2%;
    width: max-content;
    font-family: 'Arvo', serif;
}

.total-current-scores {
    justify-content: space-around;
    font-family: 'Rubik Dirt', cursive;
    font-size: 1.5vw;
    margin: 0;
}

.dice-image-mp-wrap {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msgs-wrap-mp {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 12vh;
}

.win-lose-msg-mp {
    margin: 0;
    font-size: 2vw;
    margin: 0.5%;
}

.all-buttons-mp-wrap{
    justify-content: space-around;
    align-items: center;
}

.dual-btn-wraps {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.roll-mp-btns {
    font-size: 4vw;
    padding: 10px;
    width: 70%;
}

.hold-mp-btns {
    font-size: 2vw;
    padding: 10px;
    width: 70%;
}

.new-mp-btn {
    font-size: 2vw;
    padding: 10px;
    width: 70%;
}

.hidden {
    display: none;
    
}



